@font-face {
    font-family: 'Pacifico';
    src: url('../fonts/Cookie-Regular.woff2') format('woff2');
    src: url('../fonts/Pacifico-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: wrap;
}