* {
    box-sizing: border-box;
    font-family: 'Pacifico', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: black;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding-inline: 10px;
  }