header {
  padding-block: 20px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 50px;

  img {
    border-radius: 5px;
  }

  h1 {
    font-size: 40px;
    color: #949b96;

    span {
      color: #ffff00;
    }
  }

  a {
    img,
    svg {
      width: 40px;
      height: 40px;
      color: #d6c6c6;
    }
  }

  @media (max-width: 610px) {
    justify-content: space-around;
    column-gap: 140px;
    row-gap: 20px;

    h1 {
      order: 1;
    }
  }
}
