header {
  height: 400px;

  background-image: url(../img/loft.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;

  padding-block: 20px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  column-gap: 50px;

  img {
    border-radius: 5px;
  }

  h1 {
    font-size: 40px;
    color: #949b96;

    span {
      color: #c08429;
    }
  }

  a {
    img,
    svg {
      width: 40px;
      height: 40px;
      color: #d6c6c6;
    }
  }

  @media (max-width: 610px) {
    justify-content: center;
    align-items: anchor-center;
    column-gap: 130px;

    h1 {
      order: 1;
    }
  }
}
